@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@mixin subtitulos{
    font: {
        family: 'Holtwood One SC', serif;
        size: 30px;
        weight: bold;
    }

    color: black
}

@mixin titulos {
    font: {
        family: 'Holtwood One SC', serif;
        size: 40px;
        weight: bold;
    }

    color: black;
    
}

@mixin textGral {
    font: {
        family: 'Anton', sans-serif;
        weight: bolder;
        size: 2em;
    }
    margin: 1px;
    padding: 1px;
    color: #3a3548;
}