/*-----------declaro-grilla-------------*/
.grilla{
    width: 100%;
    height: 100vh;
}

header{
    grid-area: header;
    
}

main{
    grid-area: productos;
    
}

.servicios{
    grid-area: servicios;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: publicidad;
}

footer{
    grid-area: footer;
}