@import "fuentes";

h1{
    @include titulos;
    text-align: center;
    margin: 15px;
    padding: 15px;
}


h2{
    @include subtitulos;
    text-align: center;
    margin: 20px;
    padding: 20px;
}


p{
    @include textGral;
    text-align: center;
}



