/*--------------aplica-para-toda-la-web-------------*/
@import "grilla";
@import "generales";
@import "textos";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------mobile-first--------------------------*/

@media screen and (min-width: 400px) {
    .border {
        border: 1px solid black;
    }

    .grilla, .seccAli, .seccHig, .seccAcc, .seccCont{
        display: grid;
        grid-template-areas:
            "nav"
            "header"
            "productos"
            "publicidad"
            "servicios"
            "footer";
        grid-template-columns: 1fr;
        gap: 10px;



    }

}




/*-------------------------------------tablet-breakpoint------------------------------------------*/
@media screen and (min-width: 768px) {
    .grilla, .seccAli, .seccHig, .seccAcc, .seccCont{
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "productos productos"
            "publicidad publicidad"
            "servicios servicios"
            "footer footer";
        grid-template-columns: 1fr 1fr;

        gap: 10px;
    }

    li {
        display: flex;
        flex-direction: row;
    }
}

    /*-------a-partir-de-aca-estilos-unicos-breakpoint-------*/



/*-------------------------------------desktop-breakpoint------------------------------------------*/
@media screen and (min-width: 1024px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "productos productos publicidad"
            "productos productos publicidad"
            "servicios servicios publicidad"
            "footer footer footer";
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 3fr 3fr 3fr 2fr;
        gap: 10px;
    }

    .seccAli, .seccHig, .seccAcc, .formu{
        display: grid;
        grid-template-areas:
        "nav nav nav"
        "header header header"
        "productos productos productos"
        "productos productos productos"
        "productos productos productos"
        "footer footer footer";
            grid-template-columns: 2fr 2fr 2fr;
            gap: 10px;
    }

    main, .galeria{
        margin-top: 5em;
        margin-bottom: 15em;
    }
    
    .servicios{
        margin-top: 10em;
    }



}