/*--------------aplica-para-toda-la-web-------------*/ /*-----------declaro-grilla-------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.grilla, .seccAli, .seccHig, .seccAcc {
  width: 100%;
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: productos;
}

.servicios {
  grid-area: servicios;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: publicidad;
}

footer {
  grid-area: footer;
}

/*-----------------------------------estilos-body----------------------------------------*/
body {
  background-color: rgb(248, 181, 94);
  width: 100%;
  height: 100vh;
}

/*-----------------------------------estilos-header---------------------------------------*/
header {
  background-image: url(../img/mascotas.webp);
}

.logo {
  padding: 0px;
  margin: 10px;
  width: 270px;
  height: 250px;
  border: 8px solid red;
  border-radius: 50%;
}

/*-----------------------------------estilos-navbar---------------------------------------*/
nav {
  background-image: url(../img/patitas.webp);
}
nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: flex;
  flex-direction: column;
}
nav ul li a {
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.btn {
  margin: 0.8em;
  padding: 0.3em;
  background-color: #3a3548;
  border: 3px solid #3a3548;
  border-radius: 12px;
}
.btn:hover {
  transform: scale(0.9);
  transition: all;
  transition-duration: 0.2s;
  background-color: crimson;
}

/*--------------------------------estilos-main-------------------------------------*/
main {
  margin-top: 2em;
  margin-bottom: 2em;
}
main .container-fluid {
  text-align: center;
}

/*-----------------------------estilos-servicios------------------------------------*/
.servicios {
  text-align: center;
}

/*---------------------------------estilos-aside-----------------------------------*/
aside {
  background-image: url(../img/patitas.webp);
  text-align: center;
  display: grid;
}
aside .k9 {
  border: 4px solid black;
  margin: 4em;
}

/*----------------------------estilos-footer---------------------------------*/
footer {
  text-align: center;
  padding: 1em;
  background-color: #3a3548;
  color: white;
  font-weight: bold;
}

/*----------------------------formulario----------------------------*/
.formulario {
  margin-top: 5em;
  font-size: large;
  height: 60%;
  width: 70%;
}

/*--------------------------------estilos-imagenes----------------------------------*/
.caro {
  width: 80%;
  height: 30vh;
  border: 4px solid black;
}

.pelu {
  width: 80%;
  height: 30vh;
  border: 4px solid black;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-items: center;
}
.galeria .alim, .galeria .acce, .galeria .hig {
  height: 80%;
  width: 80%;
  border: 4px solid black;
}
.galeria .alim:hover, .galeria .acce:hover, .galeria .hig:hover {
  transform: scale(1.2);
  transition: all;
  transition-duration: 0.2s;
}

h1 {
  font-family: "Holtwood One SC", serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

h2 {
  font-family: "Holtwood One SC", serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

p {
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  margin: 1px;
  padding: 1px;
  color: #3a3548;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------mobile-first--------------------------*/
@media screen and (min-width: 400px) {
  .border {
    border: 1px solid black;
  }
  .grilla, .seccAli, .seccHig, .seccAcc, .seccCont {
    display: grid;
    grid-template-areas: "nav" "header" "productos" "publicidad" "servicios" "footer";
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
/*-------------------------------------tablet-breakpoint------------------------------------------*/
@media screen and (min-width: 768px) {
  .grilla, .seccAli, .seccHig, .seccAcc, .seccCont {
    display: grid;
    grid-template-areas: "nav nav" "header header" "productos productos" "publicidad publicidad" "servicios servicios" "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  li {
    display: flex;
    flex-direction: row;
  }
}
/*-------a-partir-de-aca-estilos-unicos-breakpoint-------*/
/*-------------------------------------desktop-breakpoint------------------------------------------*/
@media screen and (min-width: 1024px) {
  .grilla {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "productos productos publicidad" "productos productos publicidad" "servicios servicios publicidad" "footer footer footer";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 3fr 3fr 3fr 2fr;
    gap: 10px;
  }
  .seccAli, .seccHig, .seccAcc, .formu {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "productos productos productos" "productos productos productos" "productos productos productos" "footer footer footer";
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
  }
  main, .galeria {
    margin-top: 5em;
    margin-bottom: 15em;
  }
  .servicios {
    margin-top: 10em;
  }
}/*# sourceMappingURL=styles.css.map */